<!doctype html>
<html>
    <head>
        <title>BFS_sample</title>
    </head>
    <style>
    	table, th, td {
    	border: 1px solid black;
    	word-wrap: break-word
}
    </style>
    <body>
        <p>You have chosen the graph: <h1> {{dataset}}</h1> and package : <h1>{{package}}</h1> </p>

        <p>The attributes for this graph are :</p>

        <table style="table-layout: fixed; width:100%">
		  <tr>
		    <th>nedges</th>
		    <th>nvertices</th>
		    <th>nthreads</th>
		    <th>nodes_in_largest_wcc</th>
		    <th>nodes_in_largest_scc</th>
		    <th>edges_in_largest_wcc</th>
		    <th>edges_in_largest_scc</th>
		    <th>average_clustering_coefficient</th>
		    <th>number_of_triangles</th>
		    <th>fraction_of_closed_triangles</th>
		    <th>diameter_longest_shortest_path_field</th>
		    <th>x90_percentile_effective_diameter</th>
		    

		  </tr>
		  <tr>
		    <td>{{nedges}}</td>
		    <td>{{nvertices}}</td>
		    <td>{{nthreads}}</td>
		    <td>{{nodes_in_largest_wcc}}</td>
		    <td>{{nodes_in_largest_scc}}</td>
		    <td>{{edges_in_largest_wcc}}</td>
		    <td>{{edges_in_largest_scc}}</td>
		    <td>{{average_clustering_coefficient}}</td>
		    <td>{{number_of_triangles}}</td>
		    <td>{{fraction_of_closed_triangles}}</td>
		    <td>{{diameter_longest_shortest_path_field}}</td>
		    <td>{{x90_percentile_effective_diameter}}</td>
		    
		  </tr>
		</table>

		<p> The model suggests running BFS on {{dataset}} using {{package}} is :</p>
		<h1>{{classification}}</h1>

		<form action="/visualize/" > 
        	<button type="submit">Visualize graph</button>
    	</form> 

    </body>
</html>